<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iRTVO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iRTVO.Properties.Settings>
            <setting name="MainWindowLocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowLocationY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="countdownThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OverlayLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>FIA Style</value>
            </setting>
            <setting name="OverlayWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="OverlayHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="UpdateFrequency" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TickerSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionsLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionsLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReplayMinLength" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="webTimingUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="webTimingInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="webTimingEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="webTimingKey" serializeAs="String">
                <value />
            </setting>
        </iRTVO.Properties.Settings>
    </userSettings>
</configuration>