<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iRTVO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iRTVO.Properties.Settings>
            <setting name="MainWindowLocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowLocationY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayLocationY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>FIAStyle</value>
            </setting>
            <setting name="OverlayWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="OverlayHeight" serializeAs="String">
                <value>720</value>
            </setting>
        </iRTVO.Properties.Settings>
    </userSettings>
</configuration>