<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="irtvo.log" />
    <target name="console" xsi:type="OutputDebugString" />
    <target name="log4view" xsi:type="NLogViewer" address="udp://127.0.0.1:878"/>
  </targets>

  <rules>
    <!--  Uncomment if you have e.g. log4view running
    <logger name="*" minlevel="Trace" writeTo="log4view" />
    -->
    <logger name="iRTVO.Scripting" minlevel="Info" writeTo="logfile" final="true"/>
    <logger name="iRTVO.Caching" minlevel="Info" writeTo="logfile" final="true"/>
    <logger name="iRTVO.Caching.*" minlevel="Info" writeTo="logfile" final="true"/>
    <logger name="iRTVO.Networking.*" minlevel="Info" writeTo="logfile" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
